capstone>=5.0
Cython>=3.0
Flask>=3.0
Flask-SocketIO>=5.3
gevent>=24.0
greenlet>=3.0
hexdump>=3.3
Pillow>=10.0
pydot>=2.0
pyelftools>=0.30
python-engineio>=4.0
python-socketio>=5.0
requests>=2.31
setuptools>=70.0
websocket-client>=1.6
pytest>=8.0
